<template name="draw">
    <div class="card">
        <div class="image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="info">
                            <div class="price">цена билета: {{couponPrice}} сом</div>
                            <div class="buys-count">куплено {{buyCount}} из {{couponCount}}</div>
                        </div>
                        <div class="ui red button">Подробнее</div>
                    </div>
                </div>
            </div>
            {{#if coverImage}}
                <img src="/uploads/{{coverImage.key}}">
            {{/if}}
        </div>
        <div class="content">
            <a class="coupon-name">{{name}}</a>

            <div class="meta coupon-date">
                <span class="date">{{endDateFormatted}}</span>
            </div>
        </div>
    </div>
</template>
