<template name="footer">
    <div class="computer tablet only">
        <div class="ui menu footer">
            <div class="menu right">
                {{#each pages}}
                    <a href="{{pathFor route='page'}}" class="item">{{title}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="mobile only">
        <div class="ui menu footer">
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="content icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical menu">
            {{#each pages}}
                <a href="{{pathFor route='page' url=this.url}}" class="item">{{title}}</a>
            {{/each}}
        </div>
    </div>

</template>