<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Банана!</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=latin,latin-ext,cyrillic,greek,vietnamese"
          rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>