<template name="login">
    <div class="content">
        <div class="ui grid">
            <div class="nine wide column">
                <div class="poster"></div>
            </div>
            <div class="seven wide column">
                <form class="ui form">
                    <h4 class="ui dividing header">Вход</h4>

                    <div class="field">
                        <input type="text" name="login" placeholder="Логин">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="footer">
                        <div class="links">
                            <div class="inline">
                                <a href="">Забыли пароль?</a>
                            </div>
                            <div class="inline">
                                <a href="{{pathFor route='register'}}">Еще не зарегистрировались?</a>
                            </div>
                        </div>
                        <div class="ui red button submit">Войти</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>