<template name="main">
    {{#unless imagesReady}}
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{phrase}} ...</div>
        </div>
    {{/unless}}
    <div class="containers">
        <div class="ui container main">
            {{> menu }}
            {{#if imagesReady}}
                {{#if anySlides}}
                    {{> slider }}
                {{/if}}
            {{/if}}
            <div class="ui dividing header border-less">Активные розыгрыши</div>
            <div class="ui container section">
                {{> draws status='active'}}
            </div>
            <div class="ui dividing header border-less">Прошедшие розыгрыши</div>
            <div class="ui container section">
                {{> draws status='past'}}
            </div>
            <div class="ui dividing header border-less"></div>
            {{> modal }}
        </div>
        <div class="ui container footer">
            {{> footer}}
        </div>
    </div>

</template>