<template name="menu">
    <div class="ui menu grey">
        <div class="menu">
            <a href="{{pathFor route='home'}}" class="logo"></a>
        </div>
        <div class="menu right">
            {{#if currentUser}}
                <a href="{{pathFor route='profile'}}" class="item profile">{{currentUserLogin}}</a>

                <div class="ui floating dropdown icon button">
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <a href="{{pathFor route='profile'}}" class="item">Личный кабинет</a>
                        <a href="#" class="item logout">Выйти</a>
                    </div>
                </div>
            {{else}}
                <a href="{{pathFor route='login'}}" class="item">вход / регистрация</a>
            {{/if}}
        </div>
    </div>
</template>