<template name="page">
    <div class="header">
        <div class="ui grid">
            <div class="row">
                <div class="two wide column logo">
                    <img src="/images/icon-page.svg" class="draw-icon">
                </div>
                <div class="eight wide column title">
                    <h1>{{title}}</h1>
                </div>
                <div class="six wide column control">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-wrapper">
            <div class="inner">
                {{{description}}}
            </div>
        </div>
    </div>
</template>