<template name="profile">
    <div class="header">
        <div class="ui grid">
            <div class="row">
                <div class="two wide column logo">
                    <img src="/images/icon-user.svg" class="draw-icon">
                </div>
                <div class="eight wide column title">
                    <h1>Личный кабинет</h1>
                </div>
                <div class="{{#unless mobile}}six wide column {{/unless}}control">
                    <button class="ui primary button">Ваш баланс {{balance}} сом</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui tabular menu">
            <div class="item active" data-tab="profile">Ваш профиль</div>
            <div class="item" data-tab="draws">Ваши розыгрыши</div>
        </div>
        <div class="ui tab active" data-tab="profile">
            {{> profileTab }}
        </div>
        <div class="ui tab" data-tab="draws">
            {{> profileDrawTab }}
        </div>
    </div>
</template>