<template name="register">
    <div class="content">
        <div class="ui grid">
            <div class="nine wide column">
                <div class="poster"></div>
            </div>
            <div class="seven wide column">
                <form class="ui form">
                    <h4 class="ui dividing header">Регистрация</h4>

                    <div class="field">
                        <input type="text" name="login" placeholder="Логин">
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="eula">
                            <label class="eula">Я принимаю пользовательское соглашение</label>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="ui red button submit">Зарегистрироваться</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>