<template name="showDraw">
    <div class="header">
        <div class="ui grid">
            <div class="row">
                <div class="two wide column logo">
                    <img src="/images/icon.svg" class="draw-icon">
                </div>
                <div class="fourteen wide column title">
                    <h1>{{name}}</h1>
                    <span class="description">
                        {{#if isPlayedOut}}
                            <span>розыгрывается...</span>
                        {{else}}
                            {{#if isActive }}
                                <span>розыгрыш состоится через {{endDateFormatted}}</span>
                            {{else}}
                                <span>розыгрыш {{#if isCancelled}}отменен{{else}}состоялся{{/if}}</span>
                            {{/if}}
                        {{/if}}
                    </span>
                    <span class="description tell-friends">
                        Рассказать друзьям:
                        <span class="icons-wrapper">
                            <a class="icon-link" href="">
                                <span class="share-icon fb"></span>
                            </a>
                            <a class="icon-link" href="">
                                <span class="share-icon vk"></span>
                            </a>
                            <a class="icon-link" href="">
                                <span class="share-icon ok"></span>
                            </a>
                            <a class="icon-link" href="">
                                <span class="share-icon twitter"></span>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="{{#unless mobile}}six wide column {{/unless}}control">
                    <button class="ui primary button">Цена билетика {{couponPrice}} сом</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui tabular menu">
            <div class="item active" data-tab="overview">Обзор</div>
            <div class="item" data-tab="tickets">Билетики</div>
            <div class="item" data-tab="partner">Партнер</div>
        </div>
        <div class="ui tab active" data-tab="overview">
            {{> overviewTab }}
        </div>
        <div class="ui tab" data-tab="tickets">
            {{> couponsTab }}
        </div>
        <div class="ui tab" data-tab="partner">
            {{> partnerTab }}
        </div>
    </div>
</template>