<template name="slider">
    <div class="ui container section">
        <div class="ui container doubling slider-container">
            <div id="slider" class="slider-wrapper">
                <!-- Slides Container -->
                <div u="slides" class="slides">
                    {{#each slides}}
                        <div>
                            <a href="{{url}}">
                                <img u="image" src="/uploads/{{key}}"/>
                            </a>
                        </div>
                    {{/each}}
                </div>
                <!-- Arrow Left -->
                <span u="arrowleft" class="jssora13l" style="top: 123px; left: 30px;"></span>
                <!-- Arrow Right -->
                <span u="arrowright" class="jssora13r" style="top: 123px; right: 30px;"></span>
            </div>
        </div>
    </div>
</template>