/*******************************
            Header
*******************************/
.menu.right a:focus {
  outline: none;
}
.menu.right a.item:hover, .menu.right .ui.dropdown:hover {
  background: none;
}
.menu.right a.profile {
  padding-right: 2px;
}
.menu.right .ui.dropdown {
  background: none;
  border-radius: 0;
  height: 2.45em;
}
.menu .ui.floating.dropdown > .menu {
  border-radius: 0 !important;
}

/*******************************
            Draws
*******************************/

/*--------------
  dimmer section
---------------*/
.ui.cards > .card .ui.dimmer {
  display: block;
}
.ui.cards > .card .ui.dimmer:hover {
  background-color: rgba(0,0,0,0.8);
  display: block;
  opacity: 1;
}

/*--------------
  cover section
---------------*/
.ui.cards > .card > .image {
  border: solid 1px #ddd !important;
  border-radius: 0 !important;
  margin: -1px;
  min-height: 9.8em;
}

/*******************************
            Modals
*******************************/

/*--------------
  modal common
---------------*/
.row.header {
  margin-bottom: 20px;
}
.ui.header:first-child {
   margin-top: 0;
}
.modal>.content {
  min-height: 26em;
}
.modal img.responsive {
  width: 100%;
}
.modal img.bordered {
  border: 2px solid white;
  max-height: 400px;
}
.modal .slider_container img {
  width: 100%;
}
.modal .media-wrapper {
  height: 340px;
  overflow: hidden;
}
.modal .media-wrapper img {
  height: 100%;
  max-width: 100%;
}

.modals.dimmer .ui.scrolling.modal {
  margin: 2.5rem auto !important;
}

/*--------------
  scrolling fixes
---------------*/
.ui.dimmer.modals {
  background-color: rgba(255, 255, 255, 0.54902);
}
.ui.dimmer.modals.page.transition.animating.fade.in {
  overflow: hidden !important;
}
.scrolling.dimmable.dimmed {
  overflow: inherit !important;
}
.scrolling.dimmable.dimmed.rendered {
  overflow: hidden !important;
  margin-right: 15px;
}
/*--------------
  coupon section
---------------*/

.content.coupons {
  overflow: auto;
  max-height: 374px;
}

.coupons {
  -webkit-box-shadow: inset 0 0 1px #b2b2b2;
  box-shadow: inset 0 0 1px #b2b2b2;
  border-top: 2px solid #cdcfd0;
  border-left: 2px solid #cdcfd0;
  margin: 0 !important;
}
.coupons-wrapper {
  padding-bottom: 30px;
}
.coupons>.column.row {
  padding: 0
}
.coupons .coupon {
  padding: 10px;
  background: #f8f8f8;
  border-bottom: 2px solid #cdcfd0;
  border-right: 2px solid #cdcfd0;
}
.coupon-info .label {
  text-transform: uppercase;
}
.coupon-name {
  font-size: 13px;
  font-weight: bold;
  color: #262626;
  font-family: 'Open Sans',arial,sans-serif;
  width: 211px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
}
.coupon-date {
  font-size: 12px !important;
  color: #262626;
  line-height: 13px;
}
.coupons .card .content .label, .coupons .card .content .grey {
  line-height: 1.4;
  font-size: 13px;
  font-weight: bold;
}
.coupons .card .content .grey {
  color: #b2b2b2;
}

/*--------------
  coupon's dimmer
---------------*/
.coupons .coupon .ui.dimmer {
  background-color: #ecedee;
  display: block;
  transition: none;
}
.coupons .coupon .ui.dimmer:hover {
  background-color: #ecedee;
  display: block;
  opacity: 1;
}
.coupons .coupon.buyed {
  background-color: #ecedee;
}

.coupons .coupon.buyed .buyer-wrapper {
  display: block;
  margin: 2px;
}
.coupons .coupon.buyed .buyer-wrapper > * {
  display: inline-block;
  vertical-align: top;
}
.coupons .coupon.buyed .buyer-wrapper .buyer-info {
  margin: 10px;
}
.coupons .coupon.buyed .buyer-wrapper .buyer-poster {
  background: url('/images/icon-sale.svg');
  width: 3em;
  height: 48px;
  margin: 4px 0 4px 4px;
}
.coupons .coupon.buyed .buyer-wrapper .buyer {
  width: 8em;
  white-space: nowrap;
  overflow: hidden;
}
.coupons .coupon.buyed .buyer-wrapper {
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}
.coupons .coupon.win {
  background-color: #bf212f;
}
.coupons .coupon.win .ui.dimmer:hover {
  background-color: #bf212f;
}
.coupons .coupon.win,
.coupons .coupon.win .buyer-label,
.coupons .coupon.win .buyer,
.coupons .coupon.win .coupon-id {
  color: white;
}
.coupons .coupon.buyed.self::before {
  content: "\f00c";
  font-size: 1em;
  font-family: Icons;
  position: absolute;
}

/*--------------
  login
---------------*/
.login.ui.modal, .register.ui.modal {
  width: 762px;
  height: 350px;
}
.login .form, .register .form {
  margin-right: 1rem;
  margin-top: 3rem;
}
.login .poster, .register .poster {
  background: url('/images/poster.svg') no-repeat;
  height: 25rem;
}
.login .footer, .register .footer {
  text-align: center;
  margin-top: 30px;
}
.login .links {
  margin-bottom: 1.8rem;
}
.login .links a {
  color: #959595;
}
.login .links a:hover {
  color: #1e70bf;
}
.register label.eula {
  font-size: 12px;
}

/*--------------
  profile
---------------*/
.profile .inline.fields label {
  min-width: 7em;
  margin-right: 4em !important;
}
.profile .inline.fields input {
  width: 20em !important;
}
.profile .ui.attached {
  width: 98%;
}
.profile .warning-message {
  color: green;
  position: absolute;
  top: 30%;
  left: 60%;
}

/*--------------
  profile draws
---------------*/
.profile .bought-draws {
  width: 98%;
}
.profile .bought-draws .ui.grid {
  background: #ffffff;
  border: 1px #ccc solid;
  margin-bottom: 1em;
}
.profile .bought-draws .ui.grid .five.wide {
  border-right: 1px #ccc solid;
}
.profile .bought-draws .title {
  text-transform: uppercase;
}
.profile .bought-draws .description {
  color: rgba(0, 0, 0, 0.4);
}

/*--------------
  profile modal
---------------*/
.modals.dimmer .ui.scrolling.modal.profile {
  height: 620px;
}

/*--------------
  pages
---------------*/
.modal.page .content-wrapper {
  margin: 0 7px 0 40px;
  overflow: auto;
  max-height: 38em;
}
.modal.page .content-wrapper .inner {
  margin-top: 14px;
}
.scrolling.dimmable.dimmed>.dimmer {
  overflow: scroll;
}

/*******************************
         Page components
*******************************/
/*--------------
footer
---------------*/
.ui.menu.footer {
  background: #38383A;
  border: none;
}
.ui.menu.footer a {
  color: #8a8c8e;
  text-transform: lowercase;
}
.ui.menu.footer a:focus {
  outline: none;
}
.ui.menu.footer a:hover {
  color: white;
}
.ui.vertical.menu {
  margin-top: -15px !important;
  width: 100%;
  display: none;
}

/*--------------
  menu
---------------*/
.menu .logo {
  width: 155px;
  background: url('/images/logo.svg') no-repeat;
  margin-left: 8px;
  margin-top: 8px;
}

/*--------------
slider
---------------*/


/*******************************
         Common helpers
*******************************/
.green {
  color: green;
}
.red {
  color: red;
}

/*******************************
         Semantic Overrides
*******************************/
input {
  padding: 0.37861429em 1em !important;
}

/*******************************
         Responsive
*******************************/
@media only screen and (max-width: 767px) {
  .content-wrapper {
    padding-bottom: 40px;
  }
  .ui.modal .row .control {
    margin-left: 80px;
  }
  .ui.grid>.row .title.wide.column .description.tell-friends {
    border-left: 0 !important;
    margin-left: auto !important;
    padding: initial !important;
  }

  .ui.modal.showDraw .row .header {
    display: none;
  }

  .ui.modal.showDraw .row .instruction {
    margin-left: 0;
  }

  .ui.modal .row .title.wide {
    width: calc(100% - 78px) !important;
  }

  .modal img.bordered {
    border: none;
  }

  .ui.modal>.content {
    overflow: hidden;
  }

  .modal .ui.tabular.menu .item {
    padding-left: 32px;
    padding-right: 32px;
  }

  .modals .ui.modal.showDraw {
    overflow: visible !important;
  }

  .modals.dimmer .ui.scrolling.modal.showDraw {
    height: auto !important;
  }

  .modal .coupons .coupon.buyed .buyer-wrapper .buyer-info {
    margin: 0;
    width: 65%;
  }

  .modal .coupons .coupon.buyed .buyer-wrapper .buyer-poster {
    height: 38px;
    width: 38px;
    margin: 0;
  }

  .ui.container.cards {
    margin-left: .5em !important;
    margin-right: .5em !important;
  }

  .login.ui.modal, .register.ui.modal {
    width: inherit;
    height: 368px;
  }

  .login .poster, .register .poster {
    display: none;
  }

  .login .seven.wide.column, .register .seven.wide.column {
    width: 80% !important;
    margin: auto;
  }

  .login .ui.grid, .register .ui.grid {
    max-width: 100%;
  }

  .profile .warning-message {
    display: none;
  }

  .ui.form .inline.fields .field > :first-child,
  .ui.form .inline.field > :first-child {
    padding: 0;
    margin-right: 0 !important;
  }

  .ui.form .inline.fields .field > input,
  .ui.form .inline.fields .field > select,
  .ui.form .inline.field > input,
  .ui.form .inline.field > select {
    width: 10em !important;
  }

  .modal .bought-draws .five.wide {
    width: 37.5% !important;
  }
  .modal .bought-draws .eleven.wide {
    width: 62.5% !important
  }
  .scrolling.dimmable.dimmed.rendered {
    margin-right: inherit;
  }

  .mobile.only {
    display: block !important;
  }
  .computer.only {
    display: none;
  }
  .modal .media-wrapper {
    height: auto;
  }
  .modal .media-wrapper img {
    width: 100%;
  }
  .content-wrapper {
    margin: 42px 12px 0 12px;
  }
  .coupons .coupon.buyed .buyer-wrapper {
    display: block;
    margin: 12px 6px;
  }
}

.mobile.only {
  display: none;
}

