div.menu.grey {
    background: #ececec !important;
}

.ui.container.main {
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    background: #f8f8f8;
    min-height: 100vh;
    overflow: hidden;
}

@media only screen and (min-width: 1200px) {
    .ui.container.main, .ui.container.footer {
        width: 933px;
    }
}

.ui.menu {
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
}

.ui.dividing.header {
    color: #b8b8b8;
    font-size: 28px;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: lighter;
    padding: 0 0 5px 10px;
    margin: calc(1rem - 0.14285em) 0 1rem;
}

/*slider*/
.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url(../images/a13.png) no-repeat;
    overflow: hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }

.slider-wrapper {
    position: relative; top: 0; left: 0; width: 800px;
    height: 260px; overflow: hidden;
}
.slides {
    cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 280px;
    overflow: hidden;
}

.ui.container.main .menu {
    font-family: 'Open Sans',arial,sans-serif;
    font-size:12px;
}

.ui.container.doubling.slider-container {
    margin-left: 1em!important;
    margin-right: 1em!important;
}

.ui.container.section {
    border-bottom: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding-bottom: 1em;
}

.ui.cards .card {
    border-radius: 0;
}

.ui.cards .card .image.dimmable {
    border-radius: 0 !important;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.four.doubling.cards .card {
        width: calc(33% - 2em);
    }
    .content .description-wrapper {
        max-height: 255px;
    }
}

.ui.modal>.close {
    top: 0;
    right: 0.5rem;
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.ui.modal {
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    border-radius: 0;
    border: solid 1px rgba(0,0,0,0.3);
    font-family: 'Open Sans',arial,sans-serif;
    overflow: hidden;
}

@media only screen and (min-width: 1200px) {
    .ui.modal {
        width: 980px;
    }
}

@media only screen and (max-width: 767px) {
    .ui.modal>.content, .ui.modal .content>.description {
        padding: 0 !important;
    }

    .ten.wide.column {
        margin-left: -15px !important;
    }
}

.ui.grid .nine.wide.column {
    font-family: 'Open Sans',arial,sans-serif;
}

.ui.modal button.ui.button {
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
    font-family: 'Open Sans',arial,sans-serif;
    border-radius: 2px;
}

.ui.modal button.ui.button.primary {
    border: 1px solid #d51010;
    background-color: #d01919;
    cursor: default;
}
.ui.modal button.ui.button:not(.primary) {
    border: 1px solid #dbdbdb;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f3f3f3));
}

.ui.grid>.row .control.wide {
    position: absolute;
    top: 21px;
    right: 25px;
}

.ui.grid>.row .control.wide button {
    float: right;
    margin-right: 10px;
}


.ui.grid>.row .logo.wide.column {
    width: 78px !important;
}

.ui.grid>.row .title.wide.column {
    padding: 0 !important;
}

.ui.grid>.row .title.wide.column h1 {
    margin-bottom: 0;
    margin-top: 4px;
    color: #414042;
}

.modal.showDraw .ui.grid>.row .title.wide.column h1 {
    margin-top: 0;
}

.ui.grid>.row .title.wide.column .description {
    max-width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    color: #b2b2b2;
}

.ui.grid>.row .title.wide.column .description.tell-friends {
    border-left: 2px solid #C3C3C3;
    margin-left: 30px;
    padding: 2px 30px;
}

.ui.grid>.row .title.wide.column .description.tell-friends .icons-wrapper {
    margin-left: 10px;
}

.ui.grid>.row .title.wide.column .description.tell-friends .icon-link {
    margin-right: 4px;
}

.ui.grid>.row .title.wide.column .description.tell-friends .share-icon {
    width: 14px;
    height: 14px;
    background: grey;
    display: inline-block;
    vertical-align: text-top;
}

.ui.tabular.menu .active.item {
    border-radius: 0 !important;
}

.ui.tabular.menu {
    height: 40px;
    border-bottom: 1px #ccc solid;
    background: #fff -webkit-linear-gradient(top,rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 20%,rgba(0,0,0,0.05) 100%);
}

.ui.tabular.menu .item {
    color: #333;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px #ccc solid;
    border-top: 0;
    padding-left: 46px;
    padding-right: 46px;
}

.ui.tabular.menu .active.item {
    background-color: #f1f1f1;
    border-left: 1px solid transparent;
    margin-bottom: 0;
}
.ui.tabular.menu .item.active:after {
    content: '';
    background-color: #f1f1f1;
    position: absolute;
    width: calc(100% + 1px);
    bottom: -1px;
    height: 1px;
    left: -1px;
}


.ui.modal>.content {
    background-color: #f1f1f1;
    padding: 0;
    height: 100%;
}

.content-wrapper {
    word-wrap: break-word;
    margin: 40px 7px 0 40px;
    padding-bottom: 30px;
}
.content-wrapper .ui.header {
    display: inline-block;
    min-width: 85px;
}

.content-wrapper .instruction {
  margin-left: 2em;
}

.price {
    font-weight: bold;
    padding-bottom: 6px;
}

.buys-count {
    color: gray;
}

.info {
    /*text-align: justify;*/
    display: block;
    margin-bottom: 23px;
    margin-top: 13px;
}

.ui.red.button {
    padding: 8px 30px;
    border-radius: 0;
}

.blurring.dimmable>.dimmer {
    background-color: rgba(0,0,0,.7);
}


/*test*/
/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px !important;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../images/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px !important;
    height: 55px;
    cursor: pointer;
    background: url(../images/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }

.content .navigator {
    text-align: center;
    margin-top: -30px;
    width: 100% !important;
}

.content .navigator div {
    position: relative !important;
    display: inline-block;
    left: 0 !important;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .content .description-wrapper {
        max-height: 325px;
    }
}

/*@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .slider_container, .slider_container * {
        width: 100% !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .slider_container, .slider_container * {
        width: 100% !important;
    }
}*/

.slider_container div[u='slides'] {
    border: 2px solid white;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.slider_container img {
    height: auto !important;
}

.title, .title .header {
    font-size: 13px !important;
    font-weight: bold;
    word-wrap: break-word;
    font-family: 'Open Sans',arial,sans-serif;
}

.title i.info.icon {
    margin-right: 0 !important;
    font-size: 11px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c6c6c6;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pre-title {
    font-size: 11px;
    color: #666;
}

.details {
    color: #4c4c4c;
    font-size: 11px;
    font-family: 'Open Sans',arial,sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word
}

.description-wrapper {
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}


.center {
    text-align: center;
}

.card > .content {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.ui.four.cards>.card {
    padding: 0.75em;
    width: 25%;
    margin: 0;
    /*transition: all 0.5s ease;*/
}

.ui.four.cards>.card:hover {
    background: #ececec;
    cursor: pointer;
}

.ui.cards>.card>.content {
    padding: 0.45em;
    border-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.border-less {
    border-bottom: none !important;
    border-top: none !important;
}

h2.ui.header {
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 20px;
}

.navigator.jssorb21 div:only-child {
    display: none;
}

.modals.dimmer .ui.scrolling.modal.showDraw {
    height: 620px;
}
