<template name="coupon">
    <div class="column coupon card{{#if userId }} buyed{{/if}}{{#if isSelf }} self{{/if}}{{#if isWinning}} win{{/if}}">
        <div class="ui dimmer">
            <div class="content">
                {{#if userId }}
                    <div class="buyer-wrapper">
                        <div class="buyer-poster"></div>
                        <div class="buyer-info">
                            <div class="buyer-label label">
                                {{#if isWinning}}Счастливчик{{else}}Купил{{/if}}:
                            </div>
                            <div class="buyer grey">{{username}}</div>
                        </div>
                    </div>
                {{else}}
                    <div class="center">
                        <div class="ui red button">Купить</div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="content">
            <div class="center">
                <div class="coupon-info">
                    <div class="coupon-label label">Билетик #</div>
                    <div class="coupon-id grey">{{number}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
