<template name="couponsTab">
    <div class="content-wrapper">
        <div class="row header">
            <h3 class="ui header">Билетики</h3>
            <span class="instruction">Каждый игрок может приобрести {{n}} билетиков</span>
        </div>
        <div class="ui grid content coupons cards">
            <div class="{{columns}} column row">
                {{#each coupons}}
                    {{> coupon}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
