<template name="overviewTab">
    <div class="content-wrapper">
        <div class="row header">
            <h3 class="ui header">Обзор</h3>
            <span class="instruction">Розыгрыш состоится если все билетики будут купленны до начала розыгрыша</span>
        </div>
        <div class="ui grid content doubling stackable">
            <div class="ten wide column">
                <div class="media-wrapper">
                    {{#each images}}
                        <img class="bordered" src="/uploads/{{key}}"/>
                    {{/each}}
                </div>
            </div>
            <div class="six wide column">
                <div class="description-wrapper">
                    <div class="pre-title">Описание</div>
                    <hr/>
                    <div class="title">{{draw.name}}</div>
                    <pre class="details">{{{draw.description}}}</pre>
                </div>
            </div>
        </div>
    </div>
</template>