<template name="partnerTab">
    <div class="content-wrapper">
        <div class="row header">
            <h3 class="ui header">Партнер</h3>
            <span class="instruction"></span>
        </div>
        <div class="ui grid content doubling stackable">
            <div class="ten wide column">
                <div class="media-wrapper">
                    {{#if image}}
                        <img class="bordered" src="/uploads/{{image.key}}"/>
                    {{/if}}
                </div>
            </div>
            <div class="six wide column">
                <div class="description-wrapper">
                    <div class="pre-title">Описание компании</div>
                    <hr/>
                    <div class="title">{{partner.name}}</div>
                    <pre class="details">{{{partner.description}}}</pre>
                </div>
            </div>
        </div>
    </div>
</template>
