<template name="profileDrawTab">
    <div class="content-wrapper">
        <div class="bought-draws">
            {{#each draws}}
                <div class="ui grid">
                    <div class="five wide column">
                        <div class="title">{{draw.name}}</div>
                        <div class="description">{{{endDateFormatted}}}</div>
                    </div>
                    <div class="eleven wide column">
                        <div class="title">Вы купили билетики #</div>
                        <div class="description">
                            {{#each coupons}}
                                {{number}}{{#unless isLast}},{{/unless}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="ui grid">
                    <div class="eleven wide column">
                        <div class="title">У вас пока нет купленных билетиков</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>
