<template name="profileTab">
    <div class="content-wrapper">
        <div class="ui grid content doubling stackable">
            <div class="ui attached message">
                <div class="header">
                    Профиль
                </div>
            </div>
            <div class="ui form attached fluid segment">
                <div class="fields-wrapper">
                    <div class="inline fields">
                        <div class="field">
                            <label>Логин:</label>
                            <span>{{currentUser.username}}</span>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label>E-mail:</label>
                            <span>{{currentUserEmail}}</span>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label>Лицевой счет:</label>
                            <span>{{currentUser.id}}</span>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label>Имя:</label>
                            {{#if currentUser.name }}
                                <span>{{currentUser.name}}</span>
                            {{else}}
                                <input type="text" name="name" placeholder="Имя">
                            {{/if}}
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label>Фамилия:</label>
                            {{#if currentUser.secondName }}
                                <span>{{currentUser.secondName}}</span>
                            {{else}}
                                <input type="text" name="secondName" placeholder="Фамилия">
                            {{/if}}
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label>Телефон:</label>
                            {{#if currentUser.phone }}
                                <span>{{currentUser.phone}}</span>
                            {{else}}
                                <input type="text" name="phone" placeholder="Телефон">
                            {{/if}}
                        </div>
                    </div>
                    {{#unless currentUser.name}}
                    <div class="inline fields">
                        <div class="field">
                            <label></label>
                            <button class="ui button" id="user-details-submit" type="submit">Сохранить</button>
                        </div>
                    </div>
                    {{/unless}}
                    <div class="inline fields">
                        <div class="field">
                            <label>Пароль:</label>
                            <input type="password" name="password" placeholder="Текущий пароль">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label></label>
                            <input type="password" name="newPassword" placeholder="Новый пароль">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label></label>
                            <button class="ui button" id="user-password-submit" type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
                {{#unless currentUser.name}}
                <div class="warning-message mobile only">
                    Внимание! Перед началом участия, <br />
                    укажите ваше имя, фамилию и телефон.<br/>
                    Заполните эти поля достоверно, <br />
                    изменения не доступны
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</template>
